#footer{
    width: 1425px;
    height: 310px;
    background-color: black;
    position: relative;
}
#footer1{
    left: 150px;
    position: absolute;
    width: 300px;
    height: 310px;
    color: white;
}
#footer1 h3{
    margin-top: 75px;
    margin-bottom: 10px;
}
#footer1 p{
    MARGIN-TOP: 100px;
}
#footer2{
    position: absolute;
    width: 250px;
    left: 450px;
    height: 310px;
    color: white;
}
#footer2 h3{
    margin-top: 75px;
    margin-bottom: 10px;
}
#footer2 p{
    line-height: 30px;
}
#footer2 a{
    color: white;
}
#footer2 a:hover{
    color:#02fff5;
}
#footer3{
    position: absolute;
    left: 700px;
    width: 350px;
    height: 310px;
    color: white;
}
#footer3 h3{
    margin-top: 75px;
    margin-bottom: 10px;
}
#footer3 p{
    line-height: 30px;
}
#footer3 a{
    color: white;
}
#footer3 a:hover{
    color:#02fff5;
}
#footer4{
    color: white;
    position: absolute;
    left: 1380px;
    top: 140px;
}
#footer4 a:hover{
    color:#02fff5;
}
#footer4 a{
    text-decoration: none;
    color: white;
}